* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}

main {
  /* padding: 1rem; */
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.link-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  gap: 60px;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.link-list li {
  margin-right: 10px;
}

.link-btn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.link-btn:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.link-list li:last-child {
  margin-right: 0;
}

.main-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  /* width: 100vw; */
}

.page-list {
  padding-top: 2rem;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-article-btn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 9999px;
}

.back-to-articles-btn {
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 9999px;
}

.delete-btn {
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 9999px;
}

.authors-list {
  list-style: none;
  padding-top: 1rem;
}
